:root {
  --item-img-little: 128px;
  --item-img-big: 350px;
  --item-description-height: 152px;
  --item-slider-height: 54px;
  --item-action-install-height: 80px;
}

.Item {
  min-width: 450px;
  min-height: 450px;
  border: 3px solid #4a8caa;
  margin: 10px;
  background-color: #8c8caabb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Item-img-fadeLittle {
  animation: Item-img-fadelittle 1s forwards;
}
@keyframes Item-img-fadelittle {
  0%{
    height : var(--item-img-big);
  }
  100%{
    height : var(--item-img-little);
  }
}

.Item-img-fadeBig {
  animation: Item-img-fadebig 1s forwards;
}
@keyframes Item-img-fadebig {
  0%{
    height : var(--item-img-little);
  }
  100%{
    height : var(--item-img-big);
  }
}

.Item-description{
  height: 0;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}

.Item-description-fadeOut {
  animation: Item-description-fadeout 1s forwards;
}
@keyframes Item-description-fadeout {
  0%{
    height : var(--item-description-height);
    opacity: 1;
  }
  100%{
    height : 0;
    opacity: 0;
  }
}

.Item-description-fadeIn {
  animation: Item-description-fadein 1s forwards;
}
@keyframes Item-description-fadein {
  0%{
    height: 0;
    opacity: 0;
  }
  100%{
    height : var(--item-description-height);
    opacity: 1;
  }
}

.Item-but-slider{
  height: 0;
  overflow: hidden;
  display: flex;
  width: 90%;
  transition: top 2s ease;
}

.Item-but-slider-fadeOut {
  animation: Item-but-slider-fadeout 1s forwards;
}
@keyframes Item-but-slider-fadeout {
  0%{
    height : var(--item-slider-height);
    opacity: 1;
  }
  100%{
    height : 0;
    opacity: 0;
  }
}

.Item-but-slider-fadeIn {
  animation: Item-but-slider-fadein 1s forwards;
}
@keyframes Item-but-slider-fadein {
  0%{
    height: 0;
    opacity: 0;
  }
  100%{
    height : var(--item-slider-height);
    opacity: 1;
  }
}

.Item-but-slider > img{
  transition: background-color 1s ease-out;
}

.Item-but-slider:hover{
  cursor: pointer;
}

.Item-but-slider:hover > img{
  cursor: pointer;
  background: #1a41a7aa;
}


.Item-but-slider > img{
  width: 40px;
  height: 40px;
  background: #aaaaaaaa;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid #000000aa;
  margin-left: 5px;
  margin-right: 5px;
}

.Item-but-slider > div{
  width: 40%;
  height: 0;
  border-radius: 3px;
  border: 2px solid #000000bb;
  transform: translateY(22px);
}

.Item-action{
  width: 90%;
  height: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.Item-action-install-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Item-action-install-info{
  width: 92%;
  height: 0;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
}

.Item-action-install-fadeIn {
  animation: Item-action-install-fadein 1s forwards;
}
@keyframes Item-action-install-fadein {
  0%{
    opacity: 0;
  }
  100%{
    height : var(--item-action-install-height);
    opacity: 1;
  }
}
.Item-action-install-fadeOut {
  animation: Item-action-install-fadeout 1s forwards;
}
@keyframes Item-action-install-fadeout {
  0%{
    height : var(--item-action-install-height);
    opacity: 1;
  }
  100%{
    height : 0;
    opacity: 0;
  }
}

.Item-action-install-info-text{
  height: 0;
  transform: translateY(10px);
}

.Item-action-install-loader{
  margin: auto;
}

.Item-action-install, .Item-action-download{
  transition: background-color 1s ease-out;
  padding: 5px;
  border: 3px solid black;
  border-radius: 5px;
  color: white;
}

.Item-action-install{
  background: #00aaaaaa;
}

.Item-action-download{
  background: #aa00aaaa;
}

.Item-action-install:hover, Item-action-download:hover{
  cursor: pointer;
  background: #1a41a7aa;
}